<p>If you have any question, please feel free mail to me:</p>
<p>congly.tr@gmail.com</p>
<p>GitHub: <a href="https://github.com/lytrc/angularjs-sailsjs" target="_blank">https://github.com/lytrc/angularjs-sailsjs</a></p>
<br>
<p>GUIDE: </p>
<p>
    <ul>
        <li>Config router: <i>js/app.js</i></li>
        <li>View <i>js/services/exam.js</i> to know how to <i>get, post, put, delete</i> data</li>
        <li>View <a href="http://sailsjs.org/" target="_blank">Sails.js document</a> to generate Model, Controller, config database(mongoDB, mySQL,...)</li>
    </ul>
</p>